document, body {
  padding: 0;
  margin: 0;
  font-family: "helvetica";
  height: 100%;
  color: #3C3C3C;
}

#hubspot-header {
  background-color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

#hubspot-footer {
  text-align: center;
  height: 100%;
  background-color: #072034;
  margin-top: 100px;
}

#brightplan-header {
  background-color: #0f2951;
  margin-bottom: 20px;
  text-align: center;
}

#body {
  width: 1176px;
  margin: 0 auto;
  text-align: center;
}

#body-enroll {
  text-align: center;
  height: 100%;
}

#body-enroll img {
  margin: 100px auto 0 auto;
}

.desc {
  font-weight: normal;
  margin-top: 30px;
}

#maitre-widget {
  margin-top: 20px;
}

#email-page {
  display: none;
}
